/*
 * api.css: CSS for RESTful API references
 * 
 */

table {
  border-bottom: 1px solid #eaeaea;
}

thead tr {
  background-color: #F5E9D3;
  font-size: 16px;
}

table tr td, table tr td code {
  font-size: 14px;
  vertical-align: middle;
}

table tr td:first-child { min-width: 200px; }
table.long-api tr td:first-child { width: 290px; }
table.fullref tr td:nth-child(2) { width: 290px }
table.fullref tr td:first-child { 
  background: #f6f6f6;
  border-bottom: 1px solid #D9D5CC;
  border-top: 1px solid #D9D5CC;
  font-size: 14px;
  font-weight: bold;
  min-width: 50px;
  text-align: center;
  width: 50px;
}

